<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="basePath" value="\\192.168.20.10\Shared\TransferTest1\Releases" />
    <!--<add key="basePath" value="\\192.168.20.10\Releases\OMSClient" />-->
    <add key="dirDemo" value="\\192.168.20.247\Share\TransferTest2\Demo" />
    <add key="dirQA" value="\\192.168.20.247\Share\TransferTest2\QA" />
    <add key="dirUAT" value="\\192.168.20.247\Share\TransferTest2\UAT" />
    <add key="dirProduction" value="\\192.168.20.247\Share\TransferTest2\LIVE" />
    <add key="OMS" value="\\192.168.20.10\Shared\TransferTest1\Releases\OMSClient" />
    <!--<add key="OMS" value="\\192.168.20.10\Releases\OMSClient" />-->
    <add key="RMS" value="\\192.168.20.10\Shared\TransferTest1\Releases\RMSClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--AdditionalArgs and Working Directory Default values-->
    <add key="AdditionalArgs" value="Additional Args Default" />
    <add key="WorkingDir" value="Working Directory Default" />
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>